<div class="contact-header">
  <h2>Edit Your Account</h2>
</div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="sign-up-form">

    <div><%= f.label :email %>
    <%= f.email_field :email %></div><br />

  <div><%= f.label :logo %>
  <%= f.text_field :logo %></div><br />

<div><%= f.label :password %> 
<small>(leave blank if you don't want to change it)</small>
<%= f.password_field :password, :autocomplete => "off" %></div><br />

      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div><br />

    <div><%= f.label :current_password %> 
    <small>(we need your current password to confirm your changes)</small><br />
    <%= f.password_field :current_password %></div><br />
  <div class="email-dealer-button">
    <%= f.submit "Update Info", :class => "btn btn-large btn-block btn-primary" %>
  </div>
<% end %>
</div>

<div class="contact-header">
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel Account Here", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

</div>
