<div class="index-buffer"></div>
<%= form_for @article do |f| %>
  <%= f.label :permalink %>
  <%= f.text_field :permalink, :cols => "60" %><br />
  <%= f.label :topic %>
  <%= f.text_field :topic, :size => "30x10" %><br />
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <%= f.label :description %>
  <%= f.text_field :description %><br />
  <%= f.label :keywords %>
  <%= f.text_field :keywords %><br />
  <%= f.label :content %>
  <%= f.text_area :content, :class => 'add-article'%><br />
  <br />
  <%= f.submit "Add Article", :class => "btn btn-primary" %>
<% end %>
