<!--  LEFT BLOCK -->
<%= render :partial => 'left_show_block', :vehicle => @vehicle %>
<!--  RIGHT BLOCK -->
<%= render :partial => 'right_show_block', :vehicle => @vehicle %>
<br />
<br />
<hr >
<div class="left-block">
  <h4>Car Compass FAQ</h4>
  <p>
  <%= @car_compass_fact.fact %>
  </p>
</div>
<% if !@about_make.nil? %>
  <div class="right-block">
    <h4>About <%= @vehicle.make.titleize %></h4>
    <p>
    <%= @about_make.summary %>
    </p>
  </div>
<% end %>
<div class="spacer"></div>
<% if !@car_tip.nil? %>
  <div class="big-block">
    <h4><%= @vehicle.car_type.titleize %> Car Tip</h4>
    <p>
    <%= @car_tip.tip %>
    </p>
  </div>
<% end %>
<br />
<br />
<br />
<div class="spacer"></div>
