<div class="contact-header">
  <h2>Contact Car Compass</h2>
</div>

<div class="email-dealer-form">
  <%= form_for @message, :url => contact_path do |form| %>
    <fieldset class="fields">
      <p><%= form.label :"name*" %>
    <%= form.text_field :name, :class => "input-xlarge" %><br /></p>

    <p><%= form.label :"email*" %>
  <%= form.text_field :email, :class => "input-xlarge" %><br /></p>

  <p><%= form.label :"subject*" %>
<%= form.text_field :subject, :class => "input-xlarge" %><br /></p>

<p><%= form.label :"body*" %>
        <%= form.text_area :body, :class => "input-xlarge", :rows => 5 %><br /></p>
      </fieldset>

      <fieldset class="actions">
        <div class="email-dealer-button">
          <%= form.submit "Contact Car Compass", :class => "btn btn-large btn-block btn-primary" %>
        </div>
      </fieldset>
    <% end %>
    <small>* Indicates required field</small>
  </div>
