<p>
Email: <%= @message.email %><br />
First Name: <%= @message.email %><br />
Last Name: <%= @message.email %><br />
Vehicle: <%= @message.subject %><br />
Question: <%= @message.body %><br />
</p>
<p>
-The Car Compass Team<br />
www.mycarcompass.com
</p>
